.upper-part {
    background-color: #1A202C;
    padding: 30px 15px 20px;
    display: flex;
    justify-content: space-between;
}

.upper-part__temperature-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px 0 0;
    min-width: 105px;
}

.upper-part__temperature {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.upper-part__description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upper-part__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
    max-width: 70px;

    img {
        width: 100%;
        transition: transform .3s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.upper-part__description {
    font-weight: 700;
    margin: 0 0 5px 0;
}